<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Controle de Tarefas - Rails 3</title>
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to 'tasks', tasks_path %></h1>
				<p>Controle de tarefas em Rails3</p>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><%= link_to 'Tarefas', tasks_path %></li>
					<li><%= link_to 'Categorias', categories_path %></li>
					<li><%= link_to 'Autores', authors_path %></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="signed">
				<% if user_signed_in? %>
					Usuário <%= current_user.email %>. Não é você?
					<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
				<% else %>
					<%= link_to "Cadastrar", new_user_registration_path %> ou <%= link_to "Entrar", new_user_session_path %>
				<% end %>  
			</div>
			<div id="container">
			<%= yield %>
				
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
</body>
</html>